body {
  background: #f7f7f7;
  font-family: monospace;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #081f37;
  text-align: center;
}

a {
  color: #ef7e56;
}

.form-container {
  padding: 15px 20px;
  background-color: #feffdf;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  margin-bottom: 30px;
  border-radius: 8px;
}
form {
  display: flex;
}

.hint {
  line-height: 1.5px;
  font-size: 12px;
  margin-top: 8px;
  opacity: 0.6;
  margin-left: 5px;
}
.theme {
  padding: 12px;
  border: 1px solid grey;
  width: 80%;
  font-size: 16px;
  line-height: 15px;
  border-radius: 2px;
  color: #081f37;
}

.submit-button {
  margin-left: 10px;
  background-color: #ef7e56;
  color: aliceblue;
  border: none;
  border-radius: 2px;
  width: 150px;
  font-size: 16px;
  padding: 10px 20px;
}

.quote {
  font-size: 14px;
  background-color: #feffdf;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid #ef7e56;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 4px;
}

footer {
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
}

.hidden {
  display: none;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
